/* Contêiner da Página */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 92vh;
    margin: 0;
}

/* Detalhes do Serviço */
.service-details {
    display: flex;
    align-items: stretch; 
    gap: 20px; 
    padding: 30px;
    border-radius: 10px;
    margin: 10px auto;
    width: 90%;
    flex-grow: 1; 
    flex: 1;
    
}


.service-image {
    width: 450px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.service-card {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; 
    width: 100%; 
}

.service-info h1 {
    margin: 0;
    font-size: 24px;
}

.service-info p {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
}


@media (max-width: 768px) {
    .service-details {
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
        gap: 40px;
    }

    .service-image {
        width: 100%; 
        max-width: 500px; 
    }

    .service-card {
        width: 100%; 
    }
}

@media (max-width: 480px) {
    .service-details {
        padding: 10px; 
        
    }

    .service-image {
        width: 100%; 
        height: auto; 
    }

    .service-card {
        padding: 15px; 
    }

    .service-card h1 {
        font-size: 20px; 
    }

    .service-card p {
        font-size: 14px; 
    }
}
